/* Style Sheet for main page of website */

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}



body {
    background-image: url("/Users/christopher/Documents/GitHub/wizardGame/mainPage/wizardBackground.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin: 0;
    padding: 0;
    width: 816px;
    height: 100vh;
    overflow: hidden;
}


/* Add a background image of tv static or grain, then set the dimensions to the image,
 and then add an opacity of like 50, 25% so that the background looks like its moving */

h1 {
    padding-top: 20px;
    justify-content: center;
    text-align: center;
}

h2 {
    padding-top: 40px;
    justify-content: center;
    text-align: center;
}